body {
    background-color: #000;
}

@keyframes armUp {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-90deg);
    }
}

@keyframes forearmMove {
    0% {
        transform: rotate(0)
    }

    40% {
        transform: rotate(-60deg);
    }

    100% {
        transform: rotate(15deg);
    }
}


.doctor {
    width: 400px;
    overflow: visible;
}

.doctor #Doctor {
    width: 300px;
}

.doctor #hand_right {
    transform-origin:10% 6%;
    transform-box: fill-box;
    animation: armUp 2s infinite ease-in-out alternate;
}

.doctor #hand_right #hand_bottom {
    transform-origin: 12% 8%;
    transform-box: fill-box;
    animation: forearmMove 2s infinite ease-in-out alternate;
}

#right_hand #origin {
    position: absolute;
    top: 100%;
    left: 0;
    width: 5px;
    height: 5px;
    content: '';
    background-color: #f0f;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.doctor2 {
    width: 500px;
}

.doctor img {
    position: absolute;
}